@import "tailwindcss";

@theme {
  --font-pridi: "Pridi", serif;
  --font-comic: "Comic Neue", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-synthesis: none;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  font-family: "Pridi", serif;
}

body {
  display: flex;
  width: 100%;
  min-width: 320px;

  font-size: 1.6rem;
  padding: 10px;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: #0E1116;
}