@import "tailwindcss";

@theme {
  --font-pridi: "Pridi", serif;
  --font-comic: "Comic Neue", cursive;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Pridi", serif;
}

body {
  display: flex;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;

  font-size: 1.6rem;
  padding: 10px;
}

@media (min-width: 720px){
  body {
    align-items: center;
    justify-content: center;
  }
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color: white;
  background-color: #0E1116;
}

#root {
  width: 100%;
}

button:hover {
  cursor: pointer;
}